@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"), local("Roboto-Regular"),
    url("fonts/roboto.woff2") format("woff2"), url("fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto Medium"), local("Roboto-Medium"),
    url("fonts/robotomedium.woff2") format("woff2"), url("fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto Bold"), local("Roboto-Bold"),
    url("fonts/robotobold.woff2") format("woff2"), url("fonts/robotobold.woff") format("woff");
}


html {
  background-color: #f2f2f2;
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%; 
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 2.3%;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 87%;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-menu__item,
.user-menu__item {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.header__contacts {
  position: absolute;
  right: 27px;
  bottom: -55px;
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.header__phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.user-menu li:not(:last-child) {
  margin-right: 10px;
}

.site-menu {
  position: relative;
  width: 56%;
}

.site-menu__item {
  margin: 0 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-menu__item:hover,
.site-menu__item:focus {
  margin: 0;
  padding: 6px 14px;
  color: #333333;
  background-color: #f7f6f3;
  border-bottom: none;
  border-radius: 20px;
}

.site-menu__item:active {
  background-color: #ededed;
  box-shadow: inset 0 1px 2px;
}

.site-menu__item--current {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #d07058;
  border-bottom: none;
  border-radius: 20px;
  pointer-events: none;
}

.sub-menu {
  position: absolute;
  top: 30px;
  left: -7px;
  z-index: 10;
  display: none;
  width: 144px;
  height: 171px;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
}

.site-menu__item:hover + .sub-menu,
.site-menu__item:focus + .sub-menu {
  display: block;
}

.sub-menu__item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.sub-menu__item--new {
  font-weight: 700;
}

.sub-menu__item--new::before {
  position: absolute;
  top: 38px;
  right: 8px;
  content: "";
  width: 128px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.2);
}

.sub-menu__item {
  display: block;
  padding: 8px 21px;
}

.sub-menu__item--new {
  padding: 11px 21px;
}

.sub-menu__item:hover,
.sub-menu__item:focus {
  background-color: #fbded7;
}

.sub-menu__item:active {
  background-color: #f6b5a5;
}

.sub-menu__item--current {
  background-color: #d07058;
  pointer-events: none;
}

.user-menu {
  justify-content: flex-end;
  width: 38%;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header__logo {
  margin-right: 10px;
  width: 154px;
  height: 64px;
}

.user-menu__search {
  width: 32px;
  height: 32px;
  background-color: #a1b6aa;
  border-radius: 50%;
}

.user-menu__item,
.user-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu__search:hover svg,
.user-menu__search:focus svg,
.user-menu__input:hover svg,
.user-menu__input:focus svg {
  fill: #000000;
}

.user-menu__search:hover,
.user-menu__search:focus,
.user-menu__input:hover,
.user-menu__input:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.user-menu__search:hover + .modal__search,
.user-menu__search:focus + .modal__search {
  display: block;
}

.user-menu__input {
  width: 92px;
  height: 32px;
  background-color: #a1b6aa;
  border-radius: 20px;
}

.user-menu__input svg,
.user-menu__basket svg {
  margin-right: 7px;
}

.user-menu__basket {
  width: 100px;
  height: 32px;
  background-color: #a1b6aa;
  border-radius: 20px;
}
 .modal__search {
  position: absolute;
  top: 59px;
  right: 256px;
  z-index: 10;
  display: none;
  width: 341px;
  height: 84px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}
 .modal__search input {
  width: 311px;
  padding: 9px 15px;
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
 .modal__search input::-webkit-input-placeholder {
  color: #999999;
}
 .modal__search input::-moz-placeholder {
  color: #999999;
}
 .modal__search input:-moz-placeholder {
  color: #999999;
}
 .modal__search input:-ms-input-placeholder {
  color: #999999;
}
 .modal__search input::-ms-input-placeholder {
  color: #999999;
}
 .modal__search input::placeholder {
  color: #999999;
}


