@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"), local("Roboto-Regular"),
    url("fonts/roboto.woff2") format("woff2"), url("fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto Medium"), local("Roboto-Medium"),
    url("fonts/robotomedium.woff2") format("woff2"), url("fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto Bold"), local("Roboto-Bold"),
    url("fonts/robotobold.woff2") format("woff2"), url("fonts/robotobold.woff") format("woff");
}


html {
  background-color: #f2f2f2;
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%; 
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 2.3%;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 84.4%;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__menu a {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.header__contacts {
  position: absolute;
  right: 27px;
  bottom: -55px;
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.header__phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.site-menu li:not(:last-child) {
  margin-right: 27px;
}

.user-menu li:not(:last-child) {
  margin-right: 10px;
}

.site-menu {
  width: 55%;
}

.user-menu {
  justify-content: flex-end;
  width: 38%;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header__logo {
  margin-right: 24px;
  width: 154px;
  height: 64px;
}

.user-menu__search {
  width: 32px;
  height: 32px;
  background-color: #a1b6aa;
  border-radius: 50%;
}

.user-menu__item,
.user-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu__search:hover svg,
.user-menu__search:focus svg,
.user-menu__input:hover svg,
.user-menu__input:focus svg {
  fill: #000000;
}

.user-menu__search:hover,
.user-menu__search:focus,
.user-menu__input:hover,
.user-menu__input:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.user-menu__input {
  width: 92px;
  height: 32px;
  background-color: #a1b6aa;
  border-radius: 20px;
}

.user-menu__input svg,
.user-menu__basket svg {
  margin-right: 7px;
}

.user-menu__basket {
  width: 100px;
  height: 32px;
  background-color: #a1b6aa;
  border-radius: 20px;
}




