/*@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto"), local("Roboto-Regular"),
    url("fonts/roboto.woff2") format("woff2"), url("fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    local("Roboto Medium"), local("Roboto-Medium"),
    url("fonts/robotomedium.woff2") format("woff2"), url("fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto Bold"), local("Roboto-Bold"),
    url("fonts/robotobold.woff2") format("woff2"), url("fonts/robotobold.woff") format("woff");
}
*/

html {
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background: #849d8f;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 100%;
  padding: 6px 2.3%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  width: 87%;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-menu__link,
.user-menu__link {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.header__contacts {
  position: absolute;
  right: 27px;
  bottom: -55px;
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.header__phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.user-menu__item:not(:last-child) {
  margin-right: 10px;
}

.site-menu {
  position: relative;
  width: 56%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-menu__link {
  margin: 0 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-menu__link:hover,
.site-menu__link:focus {
  margin: 0;
  padding: 6px 14px;
  color: #333333;
  background: #f7f6f3;
  border-bottom: none;
  border-radius: 20px;
}

.site-menu__link:active {
  background: #ededed;
  -webkit-box-shadow: inset 0 1px 2px 0;
          box-shadow: inset 0 1px 2px 0;
}

.site-menu__link--current,
.site-menu__link--current:hover,
.site-menu__link--current:focus,
.site-menu__link--current:active {
  margin: 0;
  padding: 6px 14px;
  color: #ffffff;
  background: #d07058;
  border-bottom: none;
  border-radius: 20px;
  box-shadow: none;
}

.sub-menu {
  position: absolute;
  top: 30px;
  left: -7px;
  z-index: 1;
  display: none;
  width: 144px;
  height: 171px;
  margin: 0;
  padding: 0;
  background: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  list-style: none;
  cursor: pointer;
}

.site-menu__link:hover + .sub-menu,
.site-menu__link:focus + .sub-menu,
.site-menu__link--current:hover + .sub-menu,
.site-menu__link--current:focus + .sub-menu {
  display: block;
}

.sub-menu__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.sub-menu__link--new {
  font-weight: 700;
}

.sub-menu__link--new::before {
  position: absolute;
  top: 38px;
  right: 8px;
  content: "";
  width: 128px;
  height: 1px;
  background: rgba(50, 50, 50, 0.2);
}

.sub-menu__link {
  display: block;
  padding: 8px 21px;
}

.sub-menu__link--new {
  padding: 11px 21px;
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  background: #fbded7;
}

.sub-menu__link:active {
  background: #f6b5a5;
}

.sub-menu__link--current {
  background: #d07058;
  pointer-events: none;
}

.user-menu {
  -webkit-box-pack: end;
     -ms-flex-pack: end;
   justify-content: flex-end;
  width: 38%;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header__logo {
  margin-right: 10px;
  width: 154px;
  height: 64px;
}

.user-menu__search {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.user-menu__item,
.user-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.user-menu__search:hover svg,
.user-menu__search:focus svg,
.user-menu__input:hover svg,
.user-menu__input:focus svg {
  fill: #000000;
}

.user-menu__search:hover,
.user-menu__search:focus,
.user-menu__input:hover,
.user-menu__input:focus {
  color: #000000;
  background: #f8f7f4;
}

.user-menu__search:hover + .form-search,
.user-menu__search:focus + .form-search,
.user-menu__input:hover + .form-input,
.user-menu__input:focus + .form-input,
.user-menu__basket--filled:hover + .form-ordering,
.user-menu__basket--filled:focus + .form-ordering {
  display: block;
}

.user-menu__input {
  width: 92px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-menu__input svg {
  margin-right: 7px;
}

.user-menu__basket {
  padding: 7px 15px;
  border-radius: 20px;
}

.user-menu__basket--null {
  background: rgba(255, 255, 255, 0.2) url("../img/basket.svg") no-repeat 15px center;
}

.user-menu__basket--null .number-products::before {
  content: "Пусто";
  margin-left: 25px;
}

.user-menu__basket--filled {
  font-weight: 400;
  color: #323232;
  background: #f7f6f3 url("../img/basket-filled.svg") no-repeat 15px center;
}

.user-menu__basket--filled .number-products::before {
  content: "2 товара";
  margin-left: 30px;
}

.form {
  background: #f8f7f4;
  border-radius: 5px;
}

.form input,
.form textarea {
  padding: 9px 13px;
  font: inherit;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  background: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.form input:hover,
.form textarea:hover {
  border: 2px solid #c7c6c5;
  padding: 8px 12px;
}

.form input:focus,
.form textarea:focus {
  border: 2px solid #8fbdec;
  padding: 8px 12px;
  outline: none;
}

.user-menu__form {
  position: absolute;
  z-index: 1;
  display: none;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-menu__form input {
  font-size: 14px;
}

.form-search {
  top: 59px;
  right: 256px;
  width: 341px;
  padding: 20px 15px;
}

.form-search input {
  width: 311px;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.form input::placeholder,
.form textarea::placeholder {
  font-weight: 400;
  color: #999999;
}

.form-input {
  top: 57px;
  right: 152px;
  width: 277px;
  padding: 20px 18px;
}

.form-input input {
  width: 241px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
          box-shadow: 0 2px 2px 0 #ac1000;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669, #ec6f5e);
  background-image: -o-linear-gradient(top, #f58669, #ec6f5e);
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.button:active {
  color: #fceeec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background-image: -webkit-linear-gradient(top, #d84732, #e1613e);
  background-image: -o-linear-gradient(top, #d84732, #e1613e);
  background-image: linear-gradient(to bottom, #d84732, #e1613e);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
  outline: none;
}

.form-input__links {
  margin:0;
  padding: 0;
  width: 120px;
}

.form-input__links a {
  font-size: 13px;
  line-height: 22px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.form-input__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -webkit-box-align: start;
     -ms-flex-align: start;
        align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-ordering {
  top: 57px;
  right: 27px;
  padding: 10px 14px 20px 20px;
  color: #323232;
}

.form-ordering__wrapper  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

.form-ordering__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.form-ordering table {
  border-collapse: collapse;
  margin-bottom: 8px;
}

.form-ordering td {
  height: 53px;
  vertical-align: middle;
}

.product {
  font-size: 13px;
  line-height: 16px;
}

.close {
  background: none;
  border: 0;
  cursor: pointer;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  background: #231F20;
}

.close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close:active {
  outline: none;
}

.product__close {
  width: 20px;
}

.product__button {
  position: relative;
  width: 11px;
  height: 11px;
}

.product__button::before,
.product__button::after {
  right: 0px;
  width: 13px;
  height: 1px;
}

.product__image {
  width: 47px;
}

.product__image img {
  width: 33px;
  height: 33px;
}

.product__name {
  width: 247px;
}

.product__calculate {
  width: 120px;
}

.product__calculate span {
  font-weight: 400;
  color: #999999;
}

.product__cost {
  width: 68px;
}

.form-ordering__total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.form-ordering__total td {
  padding-top: 20px;
  text-align: right;
}

.form-ordering__total::before {
  content: "";
  position: absolute;
  bottom: 112px;
  left: 15px;
  width: 510px;
  height: 1px;
  background: #cacac7;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__desc {
  position: relative;
  z-index: 1;
  width: 710px;
  margin: 390px 0 30px 0;
  padding: 0;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
}

.slider-item__image {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  z-index: 0;
}

.slider-item__button {
  position: relative;
  z-index: 1;
  margin-bottom: 42px;
  padding: 20px 40px;
  font-size: 32px;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: none;
  padding-top: 1px;
}

.slider__controls {
  position: absolute;
  top: 563px;
  left: 2.3%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__controls label {
  width: 21px;
  height: 21px;
  margin-right: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls label:hover {
  background: rgba(255, 255, 255, 0.4);
}

.slider input[type="radio"] {
  display: none;
}

#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"] {
  background: #ffffff;
}

#btn-1:checked ~ .slider__list .slider__item--one,
#btn-2:checked ~ .slider__list .slider__item--two,
#btn-3:checked ~ .slider__list .slider__item--three {
  display: block;
}

.background-1 {
  background: #849d8f;
}

.background-2 {
  background: #8996a6;
}

.background-3 {
  background: #9d8b84;
}

.banners {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
     -ms-flex-pack: start;
   justify-content: flex-start;
  margin-bottom: 30px;
  padding: 0 2.3%;
  font-size: 18px;
  font-weight: 700;
}

.banners__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  width: 48.87%;
  padding: 16px 20px 25px 20px;
  border-radius: 15px;
}

.banners__banner--two {
  margin-left: auto;
}

.banners-banner__title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.banners-banner__desc {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

.banners-banner__button {
  -ms-flex-item-align: end;
           align-self: flex-end;
}

.banners__banner--one {
  background: #a80008 url("../img/background-banner-1.jpg") no-repeat -45px -94px;
}

.banners__banner--two {
  background: #3c1f10 url("../img/background-banner-2.jpg") no-repeat -45px -94px;
}

.hits {
  width: 100%;
  padding: 0 1.15%;
  margin-bottom: 40px;
}

.hits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  position: relative;
  z-index: 1;
  width: 25%;
  padding: 5px 1.15%;
}

.hits__item ~ li {
  z-index: 0;
}

.hits__item:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.hits-item__hit {
  position: absolute;
  z-index: 1;
}

.hits-item__desc {
  -webkit-box-ordinal-group: 2;
             -ms-flex-order: 1;
                      order: 1;
  width: 97%;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.hits-item__wrapper {
  position: relative;
  margin-bottom: 14px;
}

.hits-item__image {
  width: 267px;
  border-radius: 50%;
}

.hits-item__price {
  position: absolute;
  bottom: 6px;
  width: 97%;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits-item__weight {
  font-size: 30px;
}

.hits-item__button {
  display: none;
  position: absolute;
  left: calc(50% - 97px);
  bottom: -50px;
  width: 194px;
  height: 44px;
  padding: 0;
  font-size: 17px;
  line-height: 44px;
  text-align: center;
}

.hits-item__box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 121%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.hits__item:hover .hits-item__button,
.hits__item:focus .hits-item__button,
.hits__item:hover .hits-item__box,
.hits__item:focus .hits-item__box {
  display: block;
}

.advantages {
  width: 95.4%;
  margin: 0 2.3% 40px 2.3%;
  padding: 26px 21px;
  color: #323232;
  background: url("../img/waffle-pattern.png");
  border-radius: 15px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  width: 48.7%;
  padding-left: 57px;
}

.advantages__item--one,
.advantages__item--two {
  margin-bottom: 23px;
}

.advantages__item::before {
  content: "";
  top: -14px;
  left: 0;
  position: absolute;
  width: 50px;
  height: 50px;
}

.advantages__item--one::before {
  background: url("../img/сream-icon.svg") no-repeat;
}

.advantages__item--two::before {
  background: url("../img/cow-icon.svg") no-repeat;
}

.advantages__item--three::before {
  background: url("../img/leaf-icon.svg") no-repeat;
}

.advantages__item--four::before {
  background: url("../img/thermometer-icon.svg") no-repeat;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
     -ms-flex-pack: start;
   justify-content: flex-start;
  margin-bottom: 40px;
  padding: 0 2.3%;
}

.blog,
.posting {
  width: 48.87%;
  min-height: 220px;
  border-radius: 15px;
}

.blog {
  padding: 22px 20px;
  color: #323232;
  background: #ffffff url("../img/background-strawberry.jpg") no-repeat -53px -225px;
}

.blog__title {
  width: 54%;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog__subtitle {
  width: 54%;
  margin: 0;
  padding: 0;
}

.blog__subtitle a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

.posting {
  margin-left: auto;
  padding: 5px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: -webkit-repeating-linear-gradient(315deg, #f8f7f4 0px, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
  background-image: -o-repeating-linear-gradient(315deg, #f8f7f4 0px, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
}

.posting__wrapper {
  height: 100%;
  padding: 30px 20px 35px 20px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.posting__decs {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.posting__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

.posting__form input {
  width: 72.5%;
  margin-right: 8px;
}

.map {
  position: relative;
  height: 430px;
  margin-bottom: 6px;
  background:
    url("../img/pin.svg") no-repeat 266px 140px,
    url("../img/map.png") no-repeat 0 -108px;
}

.map iframe {
  width:100%;
  border: none;
}

.map__contacts {
  position: absolute;
  top: 62px;
  right: 2.3%;
  width: 302px;
  padding: 28px 26px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background: #fefefe;
  border-radius: 15px;
}

.map__contacts span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.map-contacts___address,
.map-contacts___feedback {
  margin: 0;
  padding: 0;
}

.map-contacts___address {
  margin-bottom: 18px;
}

.map-contacts___feedback {
  margin-bottom: 25px;
}

.map-contacts__button {
  display: block;
  padding: 11px 24px;
  margin: 0 auto;
}

.modal {
  position: absolute;
  top: 338px;
  z-index: 4;
  left: calc(50% - 239px);
  width: 478px;
  height: 442px;
}

.modal-close {
  display: none;
}

.modal-open {
  display: block;
}

.modal__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.modal__feedback {
  padding: 18px 24px 27px 24px;
}

.modal__feedback input {
  width: 267px;
  margin-bottom: 20px;
}

.modal__feedback textarea {
  width: 428px;
  height: 155px;
  margin-bottom: 25px;
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.modal__close {
  position: absolute;
  top: 18px;
  right: 24px;
  width: 17px;
  height: 17px;
}

.modal__close::before,
.modal__close::after {
  top: 7px;
  left: -2px;
  width: 22px;
  height: 2px;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal__overlay--close {
  display: none;
}

.modal__overlay--open {
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  padding: 27px 2.3%;
}

.footer__social,
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__social,
.footer__copyright {
  width: 267px;
}

.social__link {
  display: block;
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.5);
}

.social__link svg {
  position: absolute;
  top: -1px;
  left: -1px;
}

.social__link:hover path,
.social__link:focus path {
  fill: #ffffff;
}

.social__link:active path {
  fill: #e9e9e9;
}

.footer__social li {
  margin: 3px 11px 3px 0;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__info {
  width: 310px;
  font-size: 13px;
  line-height: 18px;
}

.footer-info__link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-info__one {
  font-weight: bold;
}

.footer__info li {
  margin-bottom: 4px;
}

.footer__info li:nth-child(2n) {
  width: 165px;
}

.footer__info li:nth-child(2n-1) {
  width: 143px;
}

.footer__info li:first-child {
  position: relative;
}

.footer__info li:first-child::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 2px;
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") no-repeat;
}

.footer__copyright {
  position: relative;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  text-align: right;
}

.copyright__link {
  color: #fefefe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link:hover,
.link:focus,
.ink:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.copyright__logo {
  position: absolute;
  top: -44px;
  right: 80px;
  width: 108px;
  height: 39px;
}

.copyright__logo:hover path,
.copyright__logo:focus path,
.copyright__logo:active path {
  fill: #ffbc9e;
}

.main__catalog {
  display: block;
  padding: 0 2.3%;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  padding-top: 98px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 8px;
  padding-right: 14px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li:not(:last-child)::before {
  content: "»";
  position: absolute;
  right: 0;
  display: block;
  width: 6px;
  height: 6px;
}

.main__title {
  margin: 5px 0 25px 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter {
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.filter__form legend {
  padding-left: 16px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
}

.filter__form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form__sort {
  width: 193px;
}

.filter-form__sort select {
  width: 183px;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #a9bab0;
  border: none;
  border-radius: 20px;
}

.filter-form__sort option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background: #ffffff;
}

.filter-form__sort select:hover,
.filter-form__sort select:focus {
  color: #323232;
  background: #9db1a5;
  outline: none;
}
